# Environment Variables Example

# MongoDB Connection URI (Replace with your actual MongoDB connection string)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/directory_db?retryWrites=true&w=majority

# Secret key for JWT Token authentication
JWT_SECRET=directory_admin_super_secret_jwt_key_2026
